@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido!</h1>
    <p>En esta página podrá encontrar la información y funciones referentes a la empresa TECHSTORE S.A. correspondiente al II examen de Programación Avanzada</p>
</div>
